html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(165, 164, 165), rgb(154, 152, 153));
}

*, *::before, *::after {
    box-sizing: inherit;
}

#about-app {
    display: flex;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    height: 80vh;
}

#text, #video {
    flex: 1;
    border-radius: 10px;
    min-width: 200px;
    
}

#about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: rgb(62, 0, 60);
    font-family: Karla;
}

mux-player {
    width: 100%;
    height: 100%;
}

a {
    color: rgb(174, 112, 172);
}

#text {
    background-color: #eae8e8;
    padding: 20px;
    font-family: Karla;
}
